.PopUp{
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    opacity: 98%;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    width: 35rem;
    height: 15rem;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #656b77;
    border-radius:  0.5rem !important;
    z-index: 1;
  }