#ArtInspectorCancelButton{
    color: aliceblue;
    margin-bottom: 1rem;
    width: 6rem;
    background-color: rgb(196, 0, 0);  
}

#ArtInspector{
    display: flex;
    flex-direction: column;
}

#String{
    width:fit-content;
    justify-self: center;
    align-self: center;
}

#ArtInspectorButtonContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}