#demo-simple-select{
    padding: 0.2rem;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    margin: 1rem;
    height: 2rem;
    width: 10rem;
}
#pdfDownloaderPaper{
    width: 90%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#pdfDownloaderSettingsContainer{
    height: 100%;
    width: 50%;
    border-bottom: 0.15rem solid #0f0c29;
    border-right: 0.15rem solid #0f0c29;
    border-bottom-right-radius: 0.5rem;
}