body{
  margin: 0;
  width: 100%;
}

.ElementBackground{
  width: 95%;
  height: 100%;
  background-color: aliceblue;
  justify-self: center;
  align-self: flex-start;
}

.FlexRowContainer{
  display: flex;
  justify-content: space-around;
}