body{
  margin: 0;
  width: 100%;
}

.ElementBackground{
  width: 95%;
  height: 100%;
  background-color: aliceblue;
  justify-self: center;
  align-self: flex-start;
}

.FlexRowContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.FlexColumnContainerCentered{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}

.NoMargin{
  margin: 0.5rem;
}

.BoldText{
  font-weight: bold;
}

.TitleWrap{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
}